.card {
    height: 60px;
    padding-inline: 10px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 12px;
}

.card img {
    height: 70%;
}

.card>div {

    padding-bottom: 5px;
}

@media (max-width: 1480px) {
    .card {
        height: calc(60px * 0.8);
    }




}

@media (max-width: 1280px) {
    .card {
        height: calc(60px * 0.7);
    }
}

@media (max-width: 1180px) {
    .card {
        height: calc(60px * 0.6);
    }
}

@media (max-width: 920px) {
    .card {
        height: calc(60px * 0.7);
    }
}