.header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 50px;
    width: (100% - 100px);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    border-inline: 1px solid #000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    text-align: center;
    font-size: 40px;

    /* position: relative; */

}

.name {
    position: relative;
    font-style: italic;



}



.name::after {
    position: absolute;
    content: "";

    width: 100%;
    top: 45px;
    left: 0;


    height: 2px;
    background: #BB5337;
    margin-top: 5px;

}

.navH {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 400px;
    gap: 20px;
}


nav a {

    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 30px;
    transition: 0.5s;


}



nav a.active {
    color: #929090;

}

nav a:hover {
    color: #797777;
}








.contBtn {

    padding: 15px 25px;
    border-radius: 30px;
    border: 1px solid black;
    background: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    transition: 1s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contBtn:hover {
    color: #797777;
    border-color: #797777;
    border-radius: 0;


}

.copy {
    user-select: text;
}

.copy::selection {
    background: black;
    color: white
}