.about {
    font-size: 30px;
    text-align: center;

}


.aboutText {
    font-size: 30px;
    text-wrap: wrap;
    width: 50vw;

}

.aboutText h4 {
    font-size: 30px;
}





.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;

}

.cards>* {
    flex: 1
}

@media (max-width: 1280px) {
    .aboutText {
        width: 70vw;
    }

    .cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 920px) {
    .aboutText h4 {
        font-size: calc(30px * 0.9);

    }

    .aboutText p {
        font-size: calc(30px * 0.9);
    }

}

@media (max-width: 650px) {
    .aboutText h4 {
        font-size: calc(30px * 0.8);

    }

    .about {
        font-size: calc(30px * 0.8);
    }

    .aboutText p {
        font-size: calc(30px * 0.8);
    }

    .cards {
        margin-inline: 20px;
        gap: 5px;
    }

    /* .about {
        font-size: calc(30px * 0.8);


    } */
}

@media (max-width: 550px) {

    .about {
        font-size: calc(30px * 0.6);
    }

    .aboutText {
        width: 90vw;
    }

    .aboutText p {
        font-size: calc(30px * 0.6);
    }

    .cards {
        flex-direction: column;
    }

    .cards>* {
        width: 80%;
    }

    /* .about {
        font-size: calc(30px * 1);


    } */
}