.about {
    font-size: 30px;
}


.aboutText {
    font-size: 30px;
    text-wrap: wrap;
}





.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;

}

.cards>* {
    flex: 1
}