.hero {
    text-align: center;



}



.hero h1 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;

}

.hero p {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 50vw;

}

.endP {
    margin-bottom: 0 !important;
    padding-bottom: 1vw;
}